body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#container {
    width: 100%;
    margin: -8px -8px;
    position: relative;
}


/* content-all */
font {
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    opacity: 0.6;
}

button {
    background-color:rgb(45, 114, 243);
    padding: 15px;
    width: 180px;
    border-radius: 5px;
    color: white;
    border: 0px;
    font-size: 18px;
    cursor: pointer;
}

.avt img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

h1{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -2px;
    margin-top: -5px;
    line-height: 100%;
}

h4 {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 120%;
}

b {
    cursor: pointer;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
/* content-all */


/* header */
header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg,  #FFF4D4 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

header font {
    margin: 20px 50px;
}

header ul {
    display: flex;
    margin-right: 30px;
}

header ul li {
    list-style: none;
    font-size: 18px;
    margin: 20px 20px;
}

header ul li a {
    text-decoration: none;
    color: gray;
}

header ul li a:hover {
    background-color: rgb(2, 126, 241);
    color: white;
    padding: 5px;
}
/* header */


/* main */
main {
    box-sizing: border-box;
}

/* box-1 */
    /* content-1 */
    .box-1 .content-1 {
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
    }

        /* content-left */
        .box-1 .content-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: -20px;
            flex-basis: 40%;
        }

        .box-1 .content-left h4 {
            color: gray;
        }

        .box-1 .left-2 .avt {
            display: flex;
            justify-content: space-between;
            width: 42%;
        }

        .box-1 .left-2 .avt .name {
            line-height: 50%;
            margin-top: 15px;
        }

        /* .content-right */
        .box-1 .content-right {
            flex-basis: 50%;
        }
    /* content-1 */

    /* content-2 */
    .box-1 .content-2 {
        height: 900px;
        width: 92%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: -100px;
    }

    .box-1 .content-2 img {
        position: absolute;
        z-index: 1;
        margin-right: 62%;
        margin-top: 600px;
    }
    /* content-2 */
/* box-1 */


/* box-2 */
.box-2 {
    background: linear-gradient(180deg,  #D8F6FF 0%, rgba(255, 255, 255, 0) 100%), #E4ECF2;
    position: relative;
    height: 2100px;
}
    /* content-1 */
    .box-2 .content-1 img {
        margin-left: 32%;
        margin-top: -75px;
    }
    /* content-1 */


    /* content-2 */
    .box-2 .content-2 {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 100px;
        margin-left: 5%;
    }

    .box-2 .content-2 .content-right  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 45%;
        
    }

    /* content-2 */

    
    /* content-3 */
    .box-2 .content-3 {
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 100px;
    }

    .box-2 .content-3 .content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 45%;
    }
    /* content-3 */
/* box-2 */


/* box-3 */
.box-3 {
    background: linear-gradient(180deg,  #E4ECF2 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}

    /* content-1 */
    .box-3 .content-1 {
        text-align: center;
        margin-top: 100px;
        width: 60%;
    }
    /* content-1 */


    /* content-2 */
    .box-3 .content-2 {
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

        .box-3 .content-2 .name {
            background-color: #FFFFFF;
            flex-basis: 24%;
            height: 350px;
            box-sizing: border-box;
            padding: 0px 30px 20px;
        }

        .box-3 .content-2 .name a {
            text-decoration: none;
            color: rgb(173, 173, 173);
            font-weight: bold;
            line-height: 280%;
        }

        .box-3 .content-2 .name a:hover {
            text-decoration: underline;
            color: blue;
        }
    /* content-2 */
/* box-3 */


/* box-4 */
.box-4 {
    background: linear-gradient(180deg,  #FFF4D4 60%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    width: 99%;
    border-radius: 25px;
    margin-left: 5px;
    height: 1000px;
}

    /* content-1 */
    .box-4 .content-1 {
        margin-left: 5%;
        padding: 100px 0;
        width: 40%;
    }
    /* content-1 */


     /* content-2 */
     .box-4 .content-2 {
         margin-left: 5%;
         display: flex;
         justify-content: space-between;
         width: 90%;
     }

        .box-4 .content-2 .content-left {
            flex-basis: 50%;
        }

        .box-4 .content-2 .content-right {
            flex-basis: 45%;
        }

        .box-4 .text-1 {
            display: flex;
        }

        .box-4 .text-1 div {
            margin-left: 30px;
        }

        .box-4 .text-2 {
            display: flex;
            margin-top: 70px;
        } 

        .box-4 .text-2 div {
            margin-left: 30px;
        }

        .box-4 .content-2 img {
            cursor: pointer;
        }
    /* content-2 */
/* box-4 */


/* box-5 */
.box-5 {
    background: linear-gradient(180deg,  #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E4ECF2;
    /* height: 650px; */
    box-shadow: 10px 10px 10px #E4ECF2;
}

    /* content-1 */
    .box-5 .content-1 {
        margin-left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .box-5 .content-1 h2 {
        width: 45%;
    }

    .box-5 .content-1 a {
        margin-top: 60px;    
    }
    /* content-1 */


    /* content-2 */
    .box-5 .content-2 {
        margin-left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

        .box-5 .content-2 .name {
            flex-basis: 31%;
            background-color: #FFFFFF;
            height: 400px;
            box-sizing: border-box;
            padding: 0px 50px 20px;
        }

        .box-5 .content-2 a {
            text-decoration: none;
            color: rgb(173, 173, 173);
            font-weight: bold;
            line-height: 400%;
        }

        .box-5 .content-2 a:hover {
            color: blue;
            text-decoration: underline;
        }

        .box-5 .content-2 hr {
            width: 150%;
            margin-top: 50px;
            margin-left: -55px;
            border-top: 1px solid #E4ECF2;
        }    
    /* content-2 */
/* box-5 */


/* box-6 */
.box-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    /* content-1 */
    .box-6 .content-1 {
        text-align: center;
        width: 45%;
    }
    /* content-1 */


    /* content-2 */
    .box-6 .content-2 {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }

    .box-6 .content-2 .avt {
        flex-basis: 23%;
        text-align: center;
    }

    .box-6 .content-2 img {
        width: 100%;
        height: 350px;
    }

    .box-6 .content-2 .name {
        margin-top: 30px;
        line-height: 50%;
    }
    /* content-2 */


    /* content-3 */
    .box-6 .content-3 {
        width: 51%;
        margin-top: 200px;
    }

    .box-6 .content-3 .profile {
        margin-bottom: 100px;
    }
    .box-6 .content-3 .avt {
        display: flex;
        justify-content: space-between;
        width: 32%;
        margin-top: 50px;
    }

    .box-6 .content-3 .name {
        line-height: 50%;
            margin-top: 15px;
    }
    /* content-3 */

    
    /* content-4 */
    .box-6 .content-4 {
        background-color: #FFF4D4;
        display: flex;
        margin: 10%;
        padding: 50px 100px;
        border-radius: 10px;
        justify-content: space-between;
    }

        /* content-left */
        .box-6 .content-4 .content-left {
            width: 55%;
        }

        /* content-right */
        .box-6 .content-4 .content-right {
            margin-top: 50px;
        }
    /* content-4 */
/* box-6 */
/* main */


/* footer */
footer {
    background-color: rgb(31, 31, 31);
    color: gray;
}

    /* footer-top */
    .footer-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 50px 150px;
        box-sizing: border-box;
    }

    /* content-left */
    .footer-top .content-left {
        flex-basis: 40%;
        line-height: 200%;
    }

    .footer-top .content-left p {
        margin-top: 40px;
    }
    /* content-right */
    .footer-top .content-right {
        flex-basis: 60%;
        display: flex;
        justify-content:space-evenly;
    }

    .footer-top .content-right .menu {
        margin-left: 100px;
    }

    .footer-top .content-right .menu ul {
        margin-top: 50px;
    }

        .footer-top .content-right .menu li {
            list-style: none;
            margin-left: -35px;
            margin-top: 10px;
            color: white;
        }

        .footer-top .content-right .menu li:hover {
            color: blue;
            cursor: pointer;
        }
    /* footer-top */

    footer hr {
        border-top: 1px solid gray;
    }

    /* footer-bottom */
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        width: 80%;
        height: 70px;
        margin-left: 150px;
        box-sizing: border-box;
    }

    .footer-bottom address {
        line-height: 70px;
    }

    .footer-bottom p {
        line-height: 20px;
        color: white;
    }

    .footer-bottom p:hover {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
    /* footer-bottom */
/* footer */